$primary-color: #32cd32;
.nav {
  padding: 15px 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;

    span {
      background-color: $primary-color;
      color: #eee;
      border-radius: 5px;
      padding: 5px;
    }
  }

  .cart {
    button {
      background-color: $primary-color;
      border-radius: 100%;
      position: relative;
      padding: 20px;
      border: none;
    }

    p {
      position: absolute;
      border-radius: 100%;
      background-color: #f00;
      color: #eee;
      top: -10px;
      right: -5px;
      font-size: 12px;
      font-weight: 400;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
