$primary-color: #32cd32;

.product-details {
  background-color: #d4e7d49d;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  img {
    border-radius: 10px;
    width: 75%;
    height: 35%;
    border: 2px solid $primary-color;
  }
  h3 {
    color: $primary-color;
    font-size: 48px;
    font-weight: 700;
  }
  p {
    font-weight: 400;
    color: $primary-color;
  }

  .btn {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    padding: 8px 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: $primary-color;
    }
  }
}
